<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      .main_out {
        text-align: center;
        font-size: 160px;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
      }
    </style> -->
  </head>
  <body>
    {% if answer %}
        <h1 >Yes</h1>
    {% else %}
        <h1>No</h1>
    {% endif %}

    
  </body>
</html>
